
DBSmartPanels.xcodeproj/project.xcworkspace/xcuserdata/maximanisimov.xcuserdatad/UserInterfaceState.xcuserstate

DBSmartPanels.xcodeproj/xcuserdata/maximanisimov.xcuserdatad/xcschemes/xcschememanagement.plist
